In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('california_housing_train.csv')
df

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...,...
16995,16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [13]:
del df[df.columns[0]]
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [26]:
X_tot = df.drop(['median_house_value'], axis = 1)
y = df['median_house_value']

In [27]:
y

0         66900.0
1         80100.0
2         85700.0
3         73400.0
4         65500.0
           ...
16995    111400.0
16996     79000.0
16997    103600.0
16998     85800.0
16999     94600.0
Name: median_house_value, Length: 17000, dtype: float64

In [28]:
from sklearn.ensemble import RandomForestRegressor

In [29]:
rf = RandomForestRegressor(n_estimators = 127, oob_score = True)
rf.fit(X_tot, y)
rf.oob_score_

0.8240550986579812

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X_tot, y, test_size = 0.25)

In [32]:
rf_tt = RandomForestRegressor(n_estimators = 127)
rf_tt.fit(X_train, y_train)
rf_tt.score(X_test, y_test)

0.8180648276683135

In [34]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [38]:
y_pred = rf_tt.predict(X_tot)

In [39]:
mean_absolute_error(y, y_pred)

16961.68349698935

In [40]:
mean_squared_error(y, y_pred)

852720708.33628

In [41]:
r2_score(y, y_pred)

0.9366074886449925

NameError: name 'f1_score' is not defined